@font-face
  {
  font-family: "surfing";
  src: url("surfing.ttf");
  }

  @font-face
    {
    font-family: "american";
    src: url("american.ttf");
    }


header
  {
  width: 100%;
  height: 8em;
  }

img
  {
  float: left;
  width: 9%;
  height: 50%;
  margin: 25px;
  }

  ul
    {
    border-top: 1px solid black;
    }

ul li
  {
  float: right;
  display: inline-block;
  }

li a
  {
  text-decoration: none;
  font-size: 122%;
  color: rgb(11, 96, 57);
  }

li
  {
  position: relative;
  word-spacing: 30px;
  margin: 55px 35px;
  }
  li a:visited
    {
    color: rgb(11, 96, 57);
    }

  li a:hover
    {
    text-decoration: underline;
    }

    .container
      {
      width: 90%;
      margin: auto;
      }

    section figure
      {
      display: inline-block;
      margin: auto;
      }

    #titre1
      {
      text-align: center;
      margin: 3em 2em 3em 0;
      font-family: american;
      font-size: 3em;
      color: rgb(11, 96, 57);
      }

  #piscine1
    {
    width: 33%;
    border: 2px outset rgb(11, 96, 57);
    box-shadow: 4px 6px 9px black;
    }

  #piscine1:hover
    {
    width: 50%;
    margin-left: 20%;
    border-radius: 100px;
    box-shadow: 4px 6px 9px black;
    }

  #piscine2
    {
    width: 33%;
    border: 2px outset rgb(11, 96, 57);
    box-shadow: 4px 6px 9px black;
    }

    #piscine2:hover
      {
        width: 50%;
        margin-left: 20%;
        border-radius: 100px;
        box-shadow: 4px 6px 9px black;
      }

    #piscine3
      {
      width: 33%;
      margin-top: 2em;
      border: 2px outset rgb(11, 96, 57);
      box-shadow: 4px 6px 9px black;
      }

      #piscine3:hover
        {
          width: 50%;
          margin-left: 20%;
          border-radius: 100px;
          box-shadow: 4px 6px 9px black;
        }

    article
      {
      display: inline-block;
      }

      h3
      {
      text-align: center;
      font-size: 1.2em;
      }

      h3 a
        {
        color: black;
        text-decoration: none;
        }

      h3:visited
        {
        color: black;
        }

        p
        {
        font-family: 'Open Sans Condensed', sans-serif;
        width: 47%;
        font-size: 1.2em;
        font-style: italic;
        margin: 0 95px 0 0;
        text-align: center;
        float: right;
        border-top: solid 2px rgb(11, 96, 57);
        border-bottom: solid 2px rgb(11, 96, 57);
        }

/*tarifs.html*/

    .container2
    {
    width: 100%;
    margin:5% 0 4% 45%;
    display: inline-block;
    }


    th
    {
    color: black;
    background-color: rgb(11, 96, 57);
    }

    table, th, td, td
     {
      border: 1px solid black;
      text-align: center;
      border-collapse:collapse;
      padding: 6px;
     }

    caption
      {
      text-decoration: underline;
      }

  /*contact*/

  #h1contact
    {
    color: rgb(166, 25, 29);
    }

  form
    {
    display: inline-block;

    margin-left: 32%;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    }

    form div + div
      {
      margin-top: 1em;
      }

      label
      {
      /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
      display: inline-block;
      width: 90px;
      text-align: right;
      }

      input, textarea
        {
        /* Afin de s'assurer que tous les champs textuels utilisent la même police
       Par défaut, textarea utilise une police à espacement constant */
       font: 1em sans-serif;

       /* Pour donner la même dimension à tous les champs textuels */
       width: 300px;
       -moz-box-sizing: border-box;
       box-sizing: border-box;

       /* Pour harmoniser l'apparence des bordures des champs textuels */
       border: 1px solid #999;
        }

    input:focus, textarea:focus
      {
      /* Afin de rehausser les éléments actifs */
      border-color: #000;
      }

    textarea
      {
      /* Pour aligner correctement les champs multilignes et leurs étiquettes */
      vertical-align: top;

      /* Pour donner assez d'espace pour entrer du texte */
      height: 10em;

      /* Pour permettre aux utilisateurs de redimensionner un champ textuel horizontalement
         Cela ne marche pas avec tous les navigateurs  */
      resize: vertical;
      }

      .button
        {
        /* Pour positionner les boutons de la même manière que les champs textuels */
        padding-left: 90px; /* même dimension que les étiquettes */
        }

        button
          {
          /* Cette marge représente approximativement le même espace
          que celui entre les étiquettes et les champs textuels */
          margin-left: 3.5em;
          }

        iframe
          {
          margin-left: 25%;
          margin-top: 10%;
          }
